body{
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
#array-container{
    display: flex;
    align-items: flex-end;
    height: 500px;
    margin-top: 30px;
    justify-content: center;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.bar{
    display: flex;
    flex: 1;
    justify-content: center;
    max-width: 25px;
    min-width: 4px;
    margin: 2px;
    background-color: rgb(21, 182, 120);
    text-align: center;
    font-size: 10px;
    color: white;
    align-items: flex-end;
    transition: 
    height 0.15s ease,
    background-color 0.15s ease;
}
.comparing{
    background-color: red;
}
.swapping{
    background-color: yellow;
    color: black;
}
.sorted{
    background-color: rgb(0,90,255);
}
#allBtns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
button{
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-color:#222;
    color:white;
    box-shadow: 0px 2px 5px;
    border: none;
}
button:hover{
    background-color:#444;
    transform: translateY(-2px);
}
button:disabled{
    cursor: not-allowed;
    background-color: gray;
    opacity: 0.6;
}
.sliders{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}
input[type="range"]{
    width:250px;
    cursor: pointer;
}
#status{
    font-weight: bold;
    color: green;
}
p{
    margin-top: 20px;
}
.info{
    margin-top: 30px;
    line-height: 1.8;
}
h1{
    margin-bottom: 30px;
}
.minimum{
    background-color: purple;
}
.current{
    background-color: purple;
}
.shifted{
    background-color: yellow;
}
@media (max-width:768px) {
    .sliders{
        flex-direction: column;
        gap: 15px;
    }
    input[type="range"]{
        width: 90%;
    }
    #array-container{
        height: 300px;
        padding: 5px;
    }
    .bar{
        font-size: 0;
    }
    body{
        padding: 10px;
    } 
}